# Python cache files
__pycache__/
*.py[cod]
*$py.class
.env

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook files
.ipynb_checkpoints/

# macOS system files
.DS_Store

