asttokens==3.0.0
-e git+https://github.com/MarvinKohnen/deep-reinforcement-learning.git@dbf6603c4c4418e94f1ce77426ef9389370b4de2#egg=bomberman_rl&subdirectory=drl_deep_project
cloudpickle==3.1.0
ConfigArgParse==1.7
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
executing==2.1.0
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.12.0
gymnasium==1.0.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
ipython==8.31.0
jedi==0.19.2
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
moviepy==2.1.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.1
opencv-python==4.10.0.84
packaging==24.2
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
proglog==0.1.10
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
pygame==2.6.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
setuptools==75.8.0
six==1.17.0
stack-data==0.6.3
sympy==1.13.1
torch==2.5.1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
